/* * {
    border: 1px solid red;
} */

body {
    background-image: url(background_image.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    text-align: justify;
}

#container {
    background: rgba(0, 0, 0, 0.2);
    
}

#title {
    text-align: center;
}

#title span {
    color: red;
}

#survey-form {
    width: 25rem;
    height: auto;
    padding: 1.25rem;
    position: relative;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
}

#name,
#age,
#email {
    height: 3.75rem;
    width: 100%;
}

#content {
    height: 3.75rem;
    width: 102%;
}

.box {
    padding: 0.625rem;
    margin-top: 0.43rem;
    accent-color: blue;
}

#submit-button {
    background-color: red;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 0.75rem 3.75rem;
    text-align: center;
    font-size: 1rem;
    position: relative;
    left: 30%;   
}
#feedback{
    resize: none;
}